@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html, body, div#root {
    height: 100%;
}

body {
    background-color: #E5E6F0;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: Roboto, sans-serif;
}