li.dev-item {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #6931CA;
}

li.dev-item header .user-info {
    margin-left: 15px;
}

.user-info strong {
    display: block;
    font-size: 20px;
    color: #333333;
    text-align: left;
}

.user-info span {
    font-size: 16px;
    color: #999999;
}

li.dev-item p {
    color: #666666;
    font-size: 15px;
    line-height: 20px;
    margin: 15px 0px;
}

li.dev-item a {
    background-color: #8E4DFF;
    padding: 10px;
    border-radius: 7.5px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.3s ease;
    transition-property: background-color;
}

li.dev-item a:hover {
    background-color: #5A2EA6;
}